.loader{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderImg{
    width: 100px;
    height: 100px;
    animation: spin 3.5s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}